In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import metrics
df = pd.read_csv('heart-2020-cleaned-numerical.csv')

In [2]:
print(len(df))

319795

In [3]:

df.head(5)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   HeartDisease                  319795 non-null  int64
 1   BMI                           319795 non-null  float64
 2   Smoking                       319795 non-null  int64
 3   AlcoholDrinking               319795 non-null  int64
 4   Stroke                        319795 non-null  int64
 5   PhysicalHealth                319795 non-null  float64
 6   MentalHealth                  319795 non-null  float64
 7   DiffWalking                   319795 non-null  int64
 8   Sex                           319795 non-null  int64
 9   AgeCategory                   319795 non-null  int64
 10  White                         319795 non-null  int64
 11  Other                         319795 non-null  int64
 12  Hispanic                      319795 non-null  int64
 13  Black                         319795 non-null  int64
 14  Asian                         319795 non-null  int64
 15  AmericanIndian/AlaskanNative  319795 non-null  int64
 16  Diabetic                      319795 non-null  int64
 17  DiabeticWhilePregnant         319795 non-null  int64
 18  BorderlineDiabetic            319795 non-null  int64
 19  PhysicalActivity              319795 non-null  int64
 20  GenHealth                     319795 non-null  int64
 21  SleepTime                     319795 non-null  float64
 22  Asthma                        319795 non-null  int64
 23  KidneyDisease                 319795 non-null  int64
 24  SkinCancer                    319795 non-null  int64
dtypes: float64(4), int64(21)
memory usage: 61.0 MB

In [4]:
# balanance data
print("total" ,len(df))
df_HD = df.loc[df['HeartDisease'] == 1]
df_NHD = df.loc[df['HeartDisease'] == 0]
print('hd', len(df_HD))
print('nhd', len(df_NHD))
#get equal amount of sample of each
df_HD = df_HD.sample(27373)
print('curr total', len(df_HD))
df_NHD = df_NHD.sample(27373)
print('curr total', len(df_NHD))
# merge the two types
df = pd.concat([df_HD, df_NHD], axis=0)
print(len(df))

total 319795
hd 27373
nhd 292422
curr total 27373
curr total 27373
54746

In [5]:
X = df.loc[:, df.columns != 'HeartDisease']
y = df['HeartDisease']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
sscaler = StandardScaler()
mmscaler = MinMaxScaler()

sscaler.fit(X_train, y_train)
mmscaler.fit(X_train, y_train)

X_train_sscaled = pd.DataFrame(sscaler.transform(X_train))
X_train_mmscaled = pd.DataFrame(mmscaler.transform(X_train))
X_test_sscaled = pd.DataFrame(sscaler.transform(X_test))
X_test_mmscaled = pd.DataFrame(mmscaler.transform(X_test))

In [7]:
X_train_sscaled.head() #columns match so good!

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.981404,-0.985762,-0.242952,-0.321942,-0.540450,-0.494252,-0.566381,-0.940570,-0.817585,-1.966409,...,-0.136231,-0.530127,-0.077279,-0.158554,-1.584608,-0.190712,-0.072403,-0.428313,-0.287889,-0.392214
1,-0.031645,-0.985762,-0.242952,-0.321942,-0.540450,3.037354,-0.566381,-0.940570,0.071351,0.508541,...,-0.136231,-0.530127,-0.077279,-0.158554,0.631071,1.562893,-0.072403,-0.428313,-0.287889,-0.392214
2,-0.679687,-0.985762,-0.242952,-0.321942,-0.540450,-0.494252,-0.566381,-0.940570,0.663976,0.508541,...,-0.136231,-0.530127,-0.077279,-0.158554,0.631071,0.686090,0.551308,-0.428313,-0.287889,-0.392214
3,0.051873,1.014444,-0.242952,-0.321942,-0.540450,-0.494252,-0.566381,-0.940570,-0.817585,0.508541,...,-0.136231,-0.530127,-0.077279,6.307012,-1.584608,-1.944317,-1.319824,-0.428313,3.473562,-0.392214
4,-0.141457,-0.985762,-0.242952,-0.321942,-0.238953,1.271551,-0.566381,1.063185,-1.410209,0.508541,...,-0.136231,-0.530127,-0.077279,-0.158554,0.631071,-0.190712,0.551308,-0.428313,-0.287889,-0.392214

In [8]:
kmeans = KMeans(n_clusters=2).fit(X_train)
y_pred = kmeans.predict(X_test)
print("kmeans accuracy score: ", metrics.accuracy_score(y_test, y_pred))
print("kmeans f1 score: ", metrics.f1_score(y_test, y_pred))
print("kmeans ROC_AUC score: ", metrics.roc_auc_score(y_test, y_pred))

kmeans accuracy score:  0.5878538812785388
kmeans f1 score:  0.37965635738831616
kmeans ROC_AUC score:  0.5857922787556303

In [9]:
print("standard scaling")
kmeans = KMeans(n_clusters=2).fit(X_train_sscaled)
y_pred = kmeans.predict(X_test_sscaled)
print("kmeans accuracy score: ", metrics.accuracy_score(y_test, y_pred))
print("kmeans f1 score: ", metrics.f1_score(y_test, y_pred))
print("kmeans ROC_AUC score: ", metrics.roc_auc_score(y_test, y_pred))

standard scaling
kmeans accuracy score:  0.6648401826484018
kmeans f1 score:  0.5707602339181287
kmeans ROC_AUC score:  0.6635046645863852

In [10]:
print("MinMax scaling")
kmeans = KMeans(n_clusters=2).fit(X_train_mmscaled)
y_pred = kmeans.predict(X_test_mmscaled)
print("kmeans accuracy score: ", metrics.accuracy_score(y_test, y_pred))
print("kmeans f1 score: ", metrics.f1_score(y_test, y_pred))
print("kmeans ROC_AUC score: ", metrics.roc_auc_score(y_test, y_pred))

MinMax scaling
kmeans accuracy score:  0.6577168949771689
kmeans f1 score:  0.5612268789510653
kmeans ROC_AUC score:  0.6563765650027028